.wrapper {
  width: 480px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.name {
  font-size: 1.4rem;
}

.image {
  width: 480px;
}

.activity {
  display: flex;
  flex-direction: column;
}
