.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 0;
  width: 480px;
  padding: 24px 0 48px 0;
  margin: 16px auto;
}

.image {
  width: 720px;
  margin: auto;
  border-radius: 8px;
}

.logo {
  font-family: 'Ephesis', sans-serif;
  font-size: 7.2rem;
  text-align: center;
}

.login-with {
  margin: 8px 0;
}

.google-btn {
  width: 384px;
  height: var(--button-height);
  margin: 8px 0;
  font-size: 1.6rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: var(--border-radius-btn);
  background-color: var(--white);

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  span {
    margin-left: 8px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;
}

.input {
  width: 100%;
  height: 48px;
  margin: 8px 0;
  padding: 12px 36px 12px 12px;
  color: var(--text);
  background-color: var(--secondary-dark-background);
  outline: none;
  border: none;
  border-radius: 8px;

  &::-ms-reveal,
  ::-ms-clear {
    display: none;
  }
}

.password-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 4px;
  padding: 8px;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.error {
  color: var(--error);
}

.signup-btn {
  width: 100%;
  height: var(--button-height);
  margin: 8px 0;
  color: #fff;
  background-color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: var(--border-radius-btn);

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.forgot-password {
  text-align: center;
  color: var(--primary);
  text-decoration: none;
  margin: 8px 0;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  text-align: center;
  color: var(--text);
}

.login-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;

  &:hover {
    opacity: 0.9;
  }
}
